.sign-in-prompt{
    /* border: 2px solid black; */
    position: relative;
    top: 120px;
    height: 100vh;
}
.sign-in-modla{
 /* border: 2px solid green; */
 margin: auto;
 width: 50%;
 
}

h2{
    /* justify-content: center; */
    color: green;
    text-align: center;
}

.form-in{
    align-items: center;
    margin: auto;
    width: 50%;
    /* border: 2px solid red; */
}

.sign-form{
    padding: 10px;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

input{
    width: 100%;
    /* border-bottom: 2px solid black; */
    padding: 10px;
    display: flex;
    margin: auto;
    
}
button{
    display: flex;
    justify-items: center;
    margin:  20px auto;
    width: auto;
    justify-content: center;
    /* height: 20px; */
    padding: 10px 10px;
    background-color: green;
    color: white;
    border: 1px solid green;
    border-radius: 5px;
}
.data-base{
    /* border: 2px solid black;  */
    /* display: flex; */
    display: block;
    margin: auto;
    width: 50%;
}

tr{
    margin: 10px;
}


/* modal  */

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

.close-button:hover {
    background-color: darkgray;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}



.qrcode{
    margin: auto;
    border: 2px solid red;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#canvas{
    /* display: flex; */
    margin: auto;
    width: 50%;
    /* justify-content: center; */
}
.qr-space{
    text-align: center;
}